/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require mobile
*= require_self
*/

/*.navbar-brand{
	height: 20px;
	padding:  5px 15px;
}*/

.main-content{
	min-height: 500px;
	background-color: #fff;
	border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
            box-shadow: none;
	padding: 20px 5px;
}

.timeline{
	font-size: 20px;
	font-style: bold;
}